.subheader {
  margin: 30px;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.breadcrumb {
  margin: 10px 0;
  font-size: 0.9em;
  color: #555;
}

.breadcrumb a {
  color: #5e3d91;
  text-decoration: none;
}

.add-btn {
  display: block;
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  float: right;
  border-radius: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 999;
}
